$fa-font-path: "/bower_components/fontawesome/fonts";
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$textcolor: #11055a;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/fontawesome/scss/font-awesome.scss";
// endbower

body {
  color: $textcolor;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  color: $textcolor;
  text-shadow: 0 0 7px rgba(255, 255, 255, .9);
}

#sidebar-wrapper {
  background: #B4CAF5;
  .sidebar-nav > .sidebar-brand a,
  .sidebar-nav li a {
    color: $textcolor;
  }
}

.header {
  .btn-default {
    background-color: #f0f0d5;
  }
}

.services {
  background-image: url(../images/coeurs.jpg);
  color: $textcolor;

  .service-item p {
    font-size: 1em;
  }

}
