$fa-font-path: "/bower_components/fontawesome/fonts";
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$textcolor: #11055a;
$lighttextcolor: #b1b0ff;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/fontawesome/scss/font-awesome.scss";
// endbower

body {
  color: $textcolor;
  font-family: 'Pacifico', cursive;
  background-color: rgb(255, 253, 252);
}

h1, h2, h3 {
  color: $textcolor;
  text-shadow: 0 0 7px rgba(255, 253, 252, .9);
}

#sidebar-wrapper {
  background: #B4CAF5;
  .sidebar-nav > .sidebar-brand a,
  .sidebar-nav li a {
    color: $textcolor;
  }
}

.header {
  .btn-default {
    background-color: $textcolor;
  }
}

.services {
  background-image: url(../images/coeurs.jpg);
  color: $textcolor;

  i.service-icon {
    border-color: $lighttextcolor;
  }

  .service-item p {
    font-size: 18px;
  }

}

.callout {
  h1 {
    color: #FFF;
    text-shadow: 0 0 7px rgba(17, 5, 90, .9);
  }
}

.portfolio {
  .portfolio-item {
    img {
      border-radius: 130px;
    }

    h4 {
      font-size: 20px;
    }
  }
}

#contact {
  h2 {
    color: #FFF;
    text-shadow: 0 0 7px rgba(17, 5, 90, .9);
  }

  .btn {
    font-size: 28px;
  }
}
